{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "headerPattern": "^(\\w+)\\[(\\w*)\\]: (.*)$",
          "headerCorrespondence": [
            "type",
            "scope",
            "subject"
          ]
        },
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": false
          },
          {
            "breaking": true,
            "release": "major"
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "headerPattern": "^(\\w+)\\[(\\w*)\\]: (.*)$",
          "headerCorrespondence": [
            "type",
            "scope",
            "subject"
          ]
        }
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"export const APP_VERSION = '${nextRelease.version}';\" > packages/app/version.ts"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md",
          "packages/app/version.ts"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}